<ng-sidebar-container>

    <ng-sidebar [(opened)]="_opened" [mode]="'over'">
        
        <div class="sidebar-contents">
            <section class="col-1">

                <h1 class="title">
                    Places to eat
                </h1>

                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="../../../assets/rest1.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">Test Restaurant</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="../../../assets/rest2.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">Test Restaurant</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="../../../assets/rest1.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">Test Restaurant</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div>

            </section>

            <section class="col-2">

                <h1 class="title">
                    Places to visit
                </h1>

                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="../../../assets/park1.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">Test Park</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="../../../assets/park2.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">Test Park</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="../../../assets/park1.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">Test Park</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div>

            </section>

            <section class="col-3">

                <h1 class="title">
                    Places to shop
                </h1>

                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="../../../assets/rest1.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">Test Restaurant</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="../../../assets/rest2.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">Test Restaurant</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="../../../assets/rest1.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">Test Restaurant</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                  </div>

            </section>
        </div>

    </ng-sidebar>

    <div ng-sidebar-content>

        <div class="top-right-menu">
            <button class="button is-primary" (click)="toggleSidebar()" id="toggle-sidebar">Open Menu</button>
            <button class="button is-link" id="preferences" routerLink="/preferences">Preferences</button>
            <button class="button is-danger" id="logout" routerLink="/">Logout</button>
        </div>
        
        <app-map></app-map>
        

    </div>

</ng-sidebar-container>