ng-sidebar-container {
    height: 100vh;
    width: 100vw;
}

ng-sidebar {
    height: 100vh;
    max-width: 100%;
  }

ng-sidebar-content {
    width: 100%;
    height: 100%;
  }
  
::ng-deep .ng-sidebar {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .3));
    backdrop-filter: blur(5px);
    width: 70%;
    
    // box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.sidebar-contents {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 32px;
}

img {
    height: 100%;
    width: 100%;
}

button {
    position: absolute;
    top: 10;
    right: 0;
}

section {
    flex:1;
}

.card {
    margin: 0 25px 25px 0;
}

.top-right-menu {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 300px;
    width: 200px;
    top: 40px;
    right: 40px;
    border-radius: 20px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .3));
    backdrop-filter: blur(5px);
}

#toggle-sidebar {
    top: 100px;
    right: 40px;
    width: 120px;
}

#preferences {
    top: 160px;
    right: 40px;
    width: 120px;
}

#logout {
    top: 220px;
    right: 40px;
    width: 120px;
}

