<body>
    
    <div class="preferences-container">

        <section class="entertainment">
            
            <h1 class="title">
                Entertainment
            </h1>

            <div class="choices">
                <button class="button is-primary is-outlined">Amusement Park</button>
                <button class="button is-primary is-outlined">Aquarium</button>
                <button class="button is-primary is-outlined">Art Gallery</button>
                <button class="button is-primary is-outlined">Bowling Alley</button>
                <button class="button is-primary is-outlined">Casino</button>
                <button class="button is-primary is-outlined">Gym</button>
                <button class="button is-primary is-outlined">Library</button>
                <button class="button is-primary is-outlined">Movie Theatre</button>
                <button class="button is-primary is-outlined">Night Club</button>
                <button class="button is-primary is-outlined">Park</button>
                <button class="button is-primary is-outlined">Stadium</button>
                <button class="button is-primary is-outlined">Tourist Attractions</button>
                <button class="button is-primary is-outlined">Zoo</button>
              </div>

        </section>

        <section class="food">

            <h1 class="title">
                Food
            </h1>

            <div class="choices">
                <button class="button is-primary is-outlined">Bakery</button>
                <button class="button is-primary is-outlined">Bar</button>
                <button class="button is-primary is-outlined">Café</button>
                <button class="button is-primary is-outlined">Convenience Store</button>
                <button class="button is-primary is-outlined">Liquor Store</button>
                <button class="button is-primary is-outlined">Takeout</button>
                <button class="button is-primary is-outlined">Library</button>
                <button class="button is-primary is-outlined">Restuarant</button>
                <button class="button is-primary is-outlined">Super Market</button>
              </div>

        </section>

        <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" routerLink="/">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light" routerLink="/">Cancel</button>
            </div>
          </div>

    </div>

</body>