<body>
    
    <div class="login-container">

        <form action="login.php" method="post"> 
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="text" placeholder="Username" name="username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                </p>
                <p class="help is-danger">Username is incorrect</p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                <input class="input is-danger" type="password" placeholder="Password" name="password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                </p>
                <p class="help is-danger">Password is incorrect</p>
            </div>
            <div class="field">
                <p class="control">
                <button class="button is-primary" routerLink="/dashboard">
                    Login
                </button>

                <button class="button is-link" routerLink="/create-account">
                    Create Account
                </button>
                </p>
            </div>
        </form>
    </div>

</body>